<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 홈페이지 제목 -->
    <!-- {% if title %}
    <title>{{ title }}</title> -->
    <!-- {% else %}
    <title>Default Title</title>
    {% endif %} -->
    <title> MOCA MAIN PAGE </title>
    <link rel="stylesheet" href = "/static/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

</head>
<body>
    <!-- 해당 부분에 html 코드 작성 -->
    <h1>MOCA TEST PAGE</h1>
    <ul>
    <li><a href="/input_database.html">데이터베이스 추가</a></li>
    <li><a href="/output_database.html">데이터베이스 조회</a></li>
    <li><a href="/database_visualizing.html">데이터베이스 시각화</a></li>
    <li><a href="/register.html">회원가입</a></li>
    <li><a href="/">로그인</a></li>
    </ul>
<script type = "text/javascript" src = "/static/js/bootstrap.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>
